<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-100">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="description"
    content="The  TP53 Database: knowledgebase and statistical tools for the analysis of TP53 gene variants in human cancers" />
  <title>{% block title %}{% endblock %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0EGD5HKC0S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-0EGD5HKC0S");
  </script>
  <script async src="https://assets.adobedtm.com/6a4249cd0a2c/785de09de161/launch-70d67a6a40a8.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/backToTop.js') }}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ncids.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon" />
  {% endblock %}
</head>

<body class="d-flex flex-column h-100 bg-light">
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  <!-- <section class="usa-banner" aria-label="Official U.S. government website">
    <div class="usa-banner__inner">
      <p class="usa-banner__header-text mb-0">An official website of the United States government</p>
    </div>
  </section> -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple py-4" aria-label="Primary">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav justify-content-evenly">
            <li class="nav-item mx-xl-1 mx-xxl-2">
              <a class="nav-link" id="home_menu" href="/">The <em>TP53</em> Database</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="about" href="/about">About</a>
            </li>
            <!--<li class="nav-item mx-xl-2 mx-xxl-3">-->
            <!--<a class="nav-link" id="tp53data" href="search_tp53data">Data-->
            <!--Explorer</a>-->
            <!--</li>-->
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="help" href="/help">User Manual</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="resources" href="/resources">Other Resources</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="events" href="/events">Events</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="release_notes" href="/release_notes">Release Notes</a>
            </li>
            <!--<li class="nav-item mx-xl-2 mx-xxl-3">-->
            <!--<a class="nav-link" id="refs_corner" href="refs_corner"><i class="fas fa-book"></i> Refs Corner</a>-->
            <!--</li>-->
            <!--<li class="nav-item mx-2">-->
            <!--<a class="nav-link" id="ppl_events" href="ppl_events"><i class="me-2 far fa-newspaper"></i>People & Events</a>-->
            <!--</li>-->

            <!--<li class="nav-item mx-xl-2 mx-xxl-3">-->
            <!--<a class="nav-link" id="contact" href="contact">Contact</a>-->
            <!--</li>-->

            <!--<li class="nav-item ms-5 mt-2">-->
            <!--<form action="cse_search" method="get" role="search" class="d-flex">-->
            <!--<input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"-->
            <!--aria-label="Search">-->
            <!--<button class="btn btn-outline-light btn-sm" type="submit">Search</button>-->
            <!--</form>-->
            <!--</li>-->
          </ul>
          <!--<li class="nav-item ms-5 mt-2">-->
          <!--<form action="cse_search" method="get" role="search" class="d-flex ">-->
          <!--<input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"-->
          <!--aria-label="Search">-->
          <!--<button class="btn btn-outline-light btn-sm" type="submit">Search</button>-->
          <!--</form>-->
          <!--</li>-->
        </div>
        <!--<form action="cse_search" method="get" role="search" class="d-flex float-end px-2">-->
        <!--<input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"-->
        <!--aria-label="Search">-->
        <!--<button class="btn btn-outline-light btn-sm" type="submit">Search</button>-->
        <!--</form>-->
      </div>
    </nav>
  </header>

  <div id="main-content" class="flex-grow-1" tabindex="-1">
    {% block content %} {% endblock %}
  </div>
  <footer class="usa-footer usa-footer--nci-big flex-grow-0">
    <div class="nci-footer-content">
      <div class="usa-footer__primary-section pt-4">
        <div class="grid-footer-container">
          <div class="row grid-gap">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                <div>
                  <span class="usa-footer__primary-link usa-footer__nci-list-header">About</span>
                  <ul class="about-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a id="aboutLink" target="_blank" rel="noopener noreferrer" href="{{ url_for('show', page='about') }}">About TP53 Database</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="mailto:tp53webadmin@mail.nih.gov">Contact Us</a>
                    </li>
                    <li class="usa-footer__secondary-link">Version: {{ footer_version }}</li>
                    <li class="usa-footer__secondary-link">Last Updated: {{ footer_last_updated }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                <div>
                  <span class="usa-footer__primary-link usa-footer__nci-list-header">Resources</span>
                  <ul class="resource-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="{{ url_for('show', page='help') }}">User Manual</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="{{ url_for('show', page='resources') }}">Other Resources</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                <div>
                  <span class="usa-footer__primary-link usa-footer__nci-list-header">Policies</span>
                  <ul class="resource-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/accessibility">Accessibility</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/foia">FOIA</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/privacy-security">Privacy &amp; Security</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/disclaimer">Disclaimers</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">Vulnerability Disclosure</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="usa-footer__secondary-section">
        <div class="grid-footer-container">
          <div class="grid-row grid-gap">
            <div class="usa-footer__logo grid-row desktop:grid-col-5">
              <div class="mobile-lg:grid-col-auto mobile-lg:margin-bottom-3">
                <p class="usa-footer__logo-heading">
                  <span class="logo__agency-name">National Cancer Institute </span>
                  <span class="logo__parent-organization">at the National Institutes of Health</span>
                </p>
              </div>
            </div>
            <div class="usa-footer__contact-links desktop:grid-col-7">
              <div class="usa-footer__contact-heading">Contact Us</div>
              <div class="usa-footer__address">
                <div class="usa-footer__contact-info grid-row grid-gap">
                  <div class="tablet:grid-col-auto">
                    <a href="mailto:tp53webadmin@mail.nih.gov">Contact Us Email</a>
                  </div>
                  <div class="tablet:grid-col-auto tablet:margin-left-2">
                    <a href="tel:1-800-4-CANCER">1-800-4-CANCER</a>
                  </div>
                  <div class="tablet:grid-col-auto tablet:margin-left-2">
                    <a href="mailto:NCIinfo@nih.gov">NCIinfo@nih.gov</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-row grid-gap">
            <div class="usa-footer__social-links desktop:grid-col-5">
              <div class="usa-footer__social-heading">Follow Us</div>
              <div class="grid-row grid-gap-1 nci-big__social">
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--facebook" href="https://www.facebook.com/cancer.gov" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="usa-icon" aria-hidden="true" focusable="false">
                      <path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z" />
                    </svg>
                  </a></div>
                <div class="grid-col-auto"><a class="usa-social-link" href="https://twitter.com/thenci" target="_blank" rel="noopener noreferrer" aria-label="Follow on X">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="usa-icon" aria-hidden="true" focusable="false">
                      <path d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2 2 6.5 2 12s4.5 10 10 10zm5.2-15.6L13.3 11l4.3 6.2h-3.1L11.6 13 8 17.2h-.9l4.1-4.8-4.1-6h3.1l2.7 3.9 3.4-3.9h.9zm-5.6 5.4.4.6 2.8 4h1.4l-3.5-5-.4-.6-2.6-3.7H8.3l3.3 4.7z" />
                    </svg>
                  </a></div>
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--instagram" href="https://www.instagram.com/nationalcancerinstitute/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="usa-icon" aria-hidden="true" focusable="false">
                      <path d="M12,10a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z" />
                      <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm6,12.69A3.32,3.32,0,0,1,14.69,18H9.31A3.32,3.32,0,0,1,6,14.69V9.31A3.32,3.32,0,0,1,9.31,6h5.38A3.32,3.32,0,0,1,18,9.31Z" />
                      <path d="M16.94,9.31a2.25,2.25,0,0,0-2.25-2.25H9.31A2.25,2.25,0,0,0,7.06,9.31v5.38a2.25,2.25,0,0,0,2.25,2.25h5.38a2.25,2.25,0,0,0,2.25-2.25h0ZM12,15.09A3.09,3.09,0,1,1,15.09,12,3.09,3.09,0,0,1,12,15.09Zm3.77-5.75a.79.79,0,0,1-.55.23.83.83,0,0,1-.55-.23.78.78,0,0,1,0-1.11A.82.82,0,0,1,15.22,8a.78.78,0,0,1,.55,1.33Z" />
                    </svg>
                  </a></div>
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--youtube" href="https://www.youtube.com/NCIgov" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="usa-icon" aria-hidden="true" focusable="false">
                      <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm5.75,12.91A1.49,1.49,0,0,1,16.69,16a34.65,34.65,0,0,1-4.69.26A34.65,34.65,0,0,1,7.31,16a1.49,1.49,0,0,1-1.06-1.06A15.88,15.88,0,0,1,6,12a15.88,15.88,0,0,1,.25-2.91A1.49,1.49,0,0,1,7.31,8,34.65,34.65,0,0,1,12,7.77,34.65,34.65,0,0,1,16.69,8a1.49,1.49,0,0,1,1.06,1.06A15.88,15.88,0,0,1,18,12,15.88,15.88,0,0,1,17.75,14.91Z" />
                      <polygon points="10.77 13.78 13.91 12 10.77 10.22 10.77 13.78" />
                    </svg>
                  </a></div>
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--linkedin" href="https://www.linkedin.com/company/nationalcancerinstitute/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="usa-icon" aria-hidden="true" focusable="false">
                      <path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M8.912001,17.584H6.584v-7.472h2.328001V17.584z M7.744,9.104C6.992,9.104,6.4,8.488,6.4,7.76c0-0.752,0.592-1.344,1.344-1.344c0.728,0,1.343999,0.592,1.343999,1.344 C9.087999,8.488,8.472,9.104,7.744,9.104z M17.6,17.584h-2.328v-3.64c0-0.856-0.024001-1.967999-1.216001-1.967999 s-1.392,0.927999-1.392,1.912v3.696H10.36v-7.472h2.224v1.008h0.024c0.464-0.752,1.296-1.216001,2.199999-1.192 c2.352001,0,2.792,1.552001,2.792,3.544001C17.6,13.472,17.6,17.584,17.6,17.584z" />
                    </svg>
                  </a></div>
              </div>
            </div>
            <div class="usa-footer__contact-links desktop:grid-col-7">
              <div class="usa-footer__address height-full">
                <div class="usa-footer__contact-info grid-row grid-gap height-full">
                  <address>
                    <a href="https://www.hhs.gov/" target="_blank" rel="noopener noreferrer">U.S. Department of Health and Human Services</a>
                    <a href="https://www.nih.gov/" target="_blank" rel="noopener noreferrer">National Institutes of Health</a>
                    <a href="https://www.cancer.gov/" target="_blank" rel="noopener noreferrer">National Cancer Institute</a>
                    <a href="https://usa.gov/" target="_blank" rel="noopener noreferrer">USA.gov</a>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="usa-footer__return-to-top">
      <button type="button" aria-label="Back To Top" id="backToTop">
        <span class="back-to-top-text">Back To Top</span>
        <span class="back-to-top-icon" aria-hidden="true">&#8593;</span>
      </button>
    </div>
  </footer>
</body>

</html>